body{
	margin:0 ;
	padding: 0;
}
p,ul,li,ol,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
.first{
	width: 100%;
	height: 200px;
	background-color:#3f51b5 ;
}
.logo img{
	width: 120px;
	height: 120px;
	margin-top:10px ;
	/*padding: 50%;*/
	padding-top: 1%;
	padding:13px 894px;
}
.wenz{
	text-align: center;
	color: white;
	font-size: 14px;
	/*margin-top: 35px;*/
}
.two{
	width: 100%;
	height: 45px;
	background-color:#3a4ba7 ;
}
.a1{
	text-align: center;
	color: white;
	font-size: 14px;
	/*margin:auto;*/
}
.a1 a{
	color: white;
	opacity: 0.9;
	padding: 0px 67px;
	line-height: 45px;
}
.a1 a:hover{
	opacity: 1;
}
.con{
	width:284px;
	height:410px;
    box-shadow:gainsboro 3px 3px 10px 5px; 
    margin-bottom:15px;
}
.con>img{
	width:284px;
	height:189px;
}
.wenz2{
	padding:16px;
}
.wenz2>h2{
	font-weight:400;
}
.wenz2>p{
	color: rgba(0,0,0,.54);
    font-size:8px;
    line-height: 18px;
    overflow: hidden
    width: 90%;
    margin:16px 0;
}
.more{
	border-top:1px solid rgba(0,0,0,.1);
}
.more>a{
	width:124px;
	height:36px;
	margin-left: 20px;
	margin-top: 10px;
	color: rgb(255,64,129);
	display: block;
	text-decoration: none;
	line-height: 5px;
}
.content{
	padding:35px 0;
	width: 880px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer{
	text-align: center;
	line-height: 100px;
	color: white;
	height: 100px;
	background-color: #424242;
	font-size: 14px;
}
.footer a{
    color: white;
}
.footer .lin{
	color: #9e9e9e;
	text-decoration: none;
}
